<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet01</display-name>
  
  <!-- servlet lifecycle -->
  <servlet>
  	<servlet-name>some</servlet-name>
  	<servlet-class>web.lifecycle.SomeServlet</servlet-class>
  	<init-param>
  		<param-name>company</param-name>
  		<param-value>paramValue</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>some</servlet-name>
  	<url-pattern>/some</url-pattern>
  </servlet-mapping>
  
  
  <!-- cookie -->
  <servlet>
  	<servlet-name>FindCookie</servlet-name>
  	<servlet-class>web.cookie.FindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FindCookie</servlet-name>
  <url-pattern>/findCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddCookie</servlet-name>
  	<servlet-class>web.cookie.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCookie</servlet-name>
  	<url-pattern>/addCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addOrFindCookie</servlet-name>
  	<servlet-class>web.cookie.AddOrFindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addOrFindCookie</servlet-name>
  	<url-pattern>/addOrFindCookie</url-pattern>
  </servlet-mapping>
  
  
  <!-- session -->
  <servlet>
  	<servlet-name>sessionDemo1</servlet-name>
  	<servlet-class>web.session.SessionServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sessionDemo1</servlet-name>
  	<url-pattern>/sessionDemo1</url-pattern>
  </servlet-mapping>
  
   <!-- filter -->
  <servlet>
  	<servlet-name>filterDemo1</servlet-name>
  	<servlet-class>web.filter.FilterServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>filterDemo1</servlet-name>
  	<url-pattern>/filterDemo1</url-pattern>
  </servlet-mapping>
  <!-- filter jsp -->
  <servlet>
  	<servlet-name>jspfile</servlet-name>
  	<jsp-file>/filterJsp/filterDemo1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jspfile</servlet-name>
  	<url-pattern>/filterDemo1.jsp</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>demo1Filter1</filter-name>
  	<filter-class>web.filter.Demo1Filter1</filter-class>
  	<init-param>
  		<param-name>illgalStr</param-name>
  		<param-value>猪</param-value>
  	</init-param>
  </filter>
  <filter>
  	<filter-name>demo1Filter2</filter-name>
  	<filter-class>web.filter.Demo1Filter2</filter-class>
  </filter>
  
  
  <filter-mapping>
  	<filter-name>demo1Filter1</filter-name>
  	<url-pattern>/filterDemo1</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>demo1Filter2</filter-name>
  	<url-pattern>/filterDemo1</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>