<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet01</display-name>
  
  <!-- servlet lifecycle -->
  <servlet>
  	<servlet-name>some</servlet-name>
  	<servlet-class>web.lifecycle.SomeServlet</servlet-class>
  	<init-param>
  		<param-name>company</param-name>
  		<param-value>paramValue</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>some</servlet-name>
  	<url-pattern>/some</url-pattern>
  </servlet-mapping>
  
  
  <!-- cookie -->
  <servlet>
  	<servlet-name>FindCookie</servlet-name>
  	<servlet-class>web.cookie.FindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FindCookie</servlet-name>
  <url-pattern>/findCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddCookie</servlet-name>
  	<servlet-class>web.cookie.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCookie</servlet-name>
  	<url-pattern>/addCookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addOrFindCookie</servlet-name>
  	<servlet-class>web.cookie.AddOrFindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addOrFindCookie</servlet-name>
  	<url-pattern>/addOrFindCookie</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>